CHANNEL = "datafrittata"
BOT_NAME = "datafrittatabot"

/*CLIENT_ID_API and CLIENT_SECRET are obtained by creating an app via the twitch
developer console https://dev.twitch.tv/console
*/
CLIENT_ID_API = ""
CLIENT_SECRET = ""

/*OAUTH_TOKEN can be obtained for the bot account via the twitch TMI
community wrapper: https://dev.twitch.tv/docs/irc
you must be logged in as your bot's account.
*/
OAUTH_TOKEN = ""
